.about {
  padding-top: 150px;
}
.about__wrapper {
  display: flex;
  gap: 150px;
  align-items: center;
  background-image: url(../images/back.svg);
  background-repeat: no-repeat;
  background-position: -44px;
}
.about__text {
  line-height: 25px;
  max-width: 450px;
}
.about__image-photo {
  border-radius: 50%;
  max-width: 490px;
  max-height: 630px;
}