.footer {
  transition: all 0.3s;
  opacity: 0.9;
  margin-top: 120px;
  background-color: #BF8709;
}
.footer__container {
  margin-right: 10px;
}
.footer__wrapper1 {
  background-color: #BF8709;
  margin-left: -59px;
}
.footer__wrapper {
  display: flex;
  padding: 46px 10px 15px 13px;
  justify-content: space-between;
}
.footer__title {
  margin-bottom: 25px;
}
.footer__text {
  max-width: 300px;
  line-height: 25px;
}
.footer__list {
  list-style: none;
  position: relative;
}
.footer__link {
  line-height: 25px;
  margin-top: 15px;
}
.footer__telegram::after {
  content: url(../images/site-icons/telegram.svg);
  position: absolute;
  left: -34px;
}
.footer__instagram::after {
  content: url(../images/site-icons/instagram.svg);
  position: absolute;
  left: -33px;
}
.footer__github::after {
  content: url(../images/site-icons/github.svg);
  position: absolute;
  left: -36px;
  bottom: -8px;
}
.footer__email::after {
  content: url(../images/site-icons/email.svg);
  position: absolute;
  left: -33px;
}
.footer__caption {
  display: flex;
  align-items: flex-end;
  font-family: "Montez", cursive;
  margin-left: 100px;
  white-space: nowrap;
  font-size: 20px;
  width: 250px;
}

@media (max-width: 1150px) {
  .footer__caption {
    margin-left: 0px;
  }
  .footer__container {
    margin-left: 91px;
  }
}
@media (max-width: 930px) {
  .footer__caption {
    display: none;
  }
  .footer__wrapper {
    max-width: 647px;
    padding: 46px 60px 15px 13px;
  }
}
@media (max-width: 660px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__text {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .footer__list {
    font-size: 20px;
  }
  .footer__link {
    line-height: 25px;
    margin-top: 22px;
  }
  .footer__caption {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: -10px;
  }
}
@media (max-width: 550px) {
  .footer__container {
    margin-left: 40px;
  }
}
@media (max-width: 450px) {
  .footer__wrapper {
    padding: 0 20px 0 0;
  }
}
@media (max-width: 400px) {
  .footer__container {
    margin-left: 0px;
  }
  .footer__wrapper {
    padding: 0 0 0 0;
  }
}