*,
*:after,
*::before {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  color: #3d2a41;
  background-color: #EAC57D;
  font-family: "Epilogue", sans-serif;
}

.wrapper {
  min-height: 200%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #3d2a41;
  cursor: pointer;
}

main {
  flex: 1 1 auto;
}

.img {
  left: 0 !important;
  position: relative !important;
}

a:hover {
  transform: all 0.05s;
  color: #64436a;
}

.container {
  margin: 10px 200px;
}

.title {
  position: relative;
  margin-bottom: 50px;
  color: #3d2a41;
}
.title::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 2.5px;
  top: 10px;
  left: 135px;
  bottom: 1px;
  right: 1px;
  background-color: #807490;
}