.header {
  background-color: #BF8709;
  padding: 4px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px 100px;
  align-items: center;
}
.header__name {
  font-family: "Montez", cursive;
  font-size: 34px;
  font-weight: 600;
}
.header__links {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.header__link {
  margin-left: 40px;
  width: 300px;
}
.header__btn {
  display: none;
}
.header__btn span {
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: black;
}
.header__btn-active .header__btn-span2 {
  display: none;
  transition: all 0.7s;
}
.header__btn-active .header__btn-span1 {
  transform: rotate(45deg);
  top: 26px;
  transition: all 0.7s;
}
.header__btn-active .header__btn-span3 {
  transform: rotate(-45deg);
  transition: all 0.7s;
  top: 27px;
}
.header__btn-span1 {
  top: 23px;
  transition: all 0.7s;
}
.header__btn-span3 {
  top: 35px;
  transition: all 0.7s;
}
.header__links-active {
  top: 58px;
  background-color: rgba(242, 157, 60, 0.8);
  transition: all 0.5s;
}
.header__links-passive {
  transition: all 0.7s;
  top: -10000px;
}

@media (max-width: 900px) {
  .header__link {
    margin-left: 30px;
  }
  .header__wrapper {
    margin: 5px 55px;
  }
  .header__name {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .header__links {
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .header__links .header__link {
    margin-bottom: 40px;
    font-size: 30px;
    margin-top: 20px;
  }
  .header__link {
    margin-left: 10px;
  }
  .header__wrapper {
    margin: 5px 65px;
  }
  .header__name {
    font-size: 30px;
  }
  .header__btn {
    display: block;
    border: none;
  }
}
@media (max-width: 630px) {
  .header__wrapper {
    margin: 5px 39px 0 16px;
  }
  .header__links-active {
    top: 52px;
  }
}