.header {
  background-color: #BF8709;
  padding: 4px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px 100px;
  align-items: center;
}
.header__name {
  font-family: "Montez", cursive;
  font-size: 34px;
  font-weight: 600;
}
.header__links {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.header__link {
  margin-left: 40px;
  width: 300px;
}