*,
*:after,
*::before {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}

body, html{
  color: #3d2a41;
  background-color: #EAC57D;
  font-family: "Epilogue", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #3d2a41;
  cursor: pointer;
}

a:hover {
  transform: all 0.05s;
  color: #64436a;
}

.container {
  margin: 10px 200px;
}

.title {
  position: relative;
  margin-bottom: 50px;
  color: #3d2a41;
}
.title::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 2.5px;
  top: 10px;
  left: 135px;
  bottom: 1px;
  right: 1px;
  background-color: #807490;
}

.header {
  background-color: #BF8709;
  padding: 4px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px 100px;
  align-items: center;
}
.header__name {
  font-family: "Montez", cursive;
  font-size: 34px;
  font-weight: 600;
}
.header__links {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.header__link {
  margin-left: 40px;
  width: 300px;
}

.about {
  padding-top: 150px;
}
.about__wrapper {
  display: flex;
  gap: 150px;
  align-items: center;
  background-image: url(../images/back.svg);
  background-repeat: no-repeat;
  background-position: -44px;
}
.about__text {
  line-height: 25px;
  max-width: 450px;
}
.about__image-photo {
  border-radius: 50%;
  max-width: 490px;
  max-height: 630px;
}

.skills {
  padding-top: 55px;
  margin-top: 50px;
}
.skills__title {
  margin-bottom: 300x;
  margin-top: 80px;
}
.skills__images {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 60px;
}
.skills__image {
  cursor: pointer;
}
.skills__image:hover path {
  transition: all 0.4s;
  fill: #807490;
}
.skills__soft {
  margin: 50px 0 10px 30px;
}
.skills__soft-text {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
}
.skills__list {
  margin-left: 20px;
}
.skills__li {
  line-height: 15px;
  margin-bottom: 10px;
}

.works {
  padding-top: 120px;
}
.works__slider-img {
  border: 15px solid #807490;
  width: 540px;
  height: 300px;
  margin-bottom: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.works__wrapper-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}
.works__slider-down {
  grid-template-columns: 540px 1px;
  grid-column-gap: 20px;
}
.works__btn {
  padding: 18px 26px;
  margin-bottom: -366px;
  margin-left: -100px;
}
.works__projects-active {
  display: grid;
  transition: all 0.2s linear;
}
.works__projects-passive {
  display: none;
}
.works__btn-active {
  display: none;
}
.works__btn-down {
  padding: 18px 26px;
  max-width: 150px;
  margin-left: 1027px;
}
.works__down-btn {
  opacity: 0;
  transition: all 0.2s linear;
  display: none;
}

.btn {
  font-size: 17px;
  white-space: nowrap;
  background-color: #F0E3CA;
  cursor: pointer;
  transition: all 0.2s linear;
  border: none;
}

.btn:hover {
  transition: all 0.4s;
  background-color: rgba(185, 187, 222, 0.7254901961);
}

.footer {
  transition: all 0.3s;
  background-color: #BF8709;
  opacity: 0.9;
  display: flex;
  margin-top: 120px;
}
.footer__wrapper {
  display: flex;
  margin: 20px 0;
  gap: 250px;
}
.footer__title {
  margin-bottom: 25px;
}
.footer__text {
  max-width: 1000px;
  line-height: 25px;
}
.footer__list {
  list-style: none;
  position: relative;
}
.footer__link {
  line-height: 25px;
  margin-top: 15px;
}
.footer__telegram::after {
  content: url(../images/site-icons/telegram.svg);
  position: absolute;
  left: -34px;
  top: 14px;
}
.footer__instagram::after {
  content: url(../images/site-icons/instagram.svg);
  position: absolute;
  left: -33px;
}
.footer__github::after {
  content: url(../images/site-icons/github.svg);
  position: absolute;
  left: -36px;
  top: 134px;   
}
.footer__email::after {
  content: url(../images/site-icons/email.svg);
  position: absolute;
  left: -33px; 
  top: 97px;
}
.footer__caption {
  display: flex;
  align-items: flex-end;
  font-family: "Montez", cursive;
  margin-left: 100px;
  white-space: nowrap;
  font-size: 20px;
  width: 250px;
}