*,
*:after,
*::before {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}

body, html {
  scroll-behavior: smooth;
  height: 100%;
  color: #3d2a41;
  background-color: #EAC57D;
  font-family: "Epilogue", sans-serif;
}

.wrapper {
  min-height: 200%;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #3d2a41;
  cursor: pointer;
}

main {
  flex: 1 1 auto;
}

.img {
  left: 0 !important;
  position: relative !important;
}

a:hover {
  transform: all 0.05s;
  color: #64436a;
}

.container {
  margin: 10px 200px;
}

.title {
  position: relative;
  margin-bottom: 50px;
  color: #3d2a41;
}
.title::after {
  content: "";
  position: absolute;
  width: 58px;
  height: 2.5px;
  top: 10px;
  left: 135px;
  bottom: 1px;
  right: 1px;
  background-color: #807490;
}

.header {
  background-color: #BF8709;
  padding: 4px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 5px 100px;
  align-items: center;
}
.header__name {
  font-family: "Montez", cursive;
  font-size: 34px;
  font-weight: 600;
}
.header__links {
  font-family: "Epilogue", sans-serif;
  font-size: 20px;
  font-weight: 500;
}
.header__link {
  margin-left: 40px;
  width: 300px;
}
.header__btn {
  display: none;
}
.header__btn span {
  position: absolute;
  width: 26px;
  height: 3px;
  background-color: black;
}
.header__btn-active .header__btn-span2 {
  display: none;
  transition: all 0.7s;
}
.header__btn-active .header__btn-span1 {
  transform: rotate(45deg);
  top: 26px;
  transition: all 0.7s;
}
.header__btn-active .header__btn-span3 {
  transform: rotate(-45deg);
  transition: all 0.7s;
  top: 27px;
}
.header__btn-span1 {
  top: 23px;
  transition: all 0.7s;
}
.header__btn-span3 {
  top: 35px;
  transition: all 0.7s;
}
.header__links-active {
  top: 58px;
  background-color: rgba(242, 157, 60, 0.8);
  transition: all 0.5s;
}
.header__links-passive {
  transition: all 0.7s;
  top: -10000px;
}

@media (max-width: 900px) {
  .header__link {
    margin-left: 30px;
  }
  .header__wrapper {
    margin: 5px 55px;
  }
  .header__name {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .header__links {
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .header__links .header__link {
    margin-bottom: 40px;
    font-size: 30px;
    margin-top: 20px;
  }
  .header__link {
    margin-left: 10px;
  }
  .header__wrapper {
    margin: 5px 65px;
  }
  .header__name {
    font-size: 30px;
  }
  .header__btn {
    display: block;
    border: none;
  }
}
@media (max-width: 630px) {
  .header__wrapper {
    margin: 5px 39px 0 16px;
  }
  .header__links-active {
    top: 52px;
  }
}
.about {
  padding-top: 150px;
}
.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(../images/back.svg);
  background-repeat: no-repeat;
  background-position: -44px;
  max-width: 1050px;
  margin: 0 auto;
}
.about__text {
  line-height: 25px;
  max-width: 450px;
  min-width: 350px;
}
.about__image-photo {
  border-radius: 50%;
  max-width: 490px;
  max-height: 630px;
  margin-right: 100px;
}

@media (max-width: 1200px) {
  .about__image-photo {
    max-width: 419px;
  }
}
@media (max-width: 1060px) {
  .about {
    padding-top: 100px;
  }
  .about__wrapper {
    flex-direction: column;
    background-position: -68px -110px;
    background-size: cover;
  }
  .about__info {
    margin-left: -300px;
  }
  .about__image-photo {
    margin: 20px 0 0 180px;
  }
}
@media (max-width: 810px) {
  .about__wrapper {
    background: none;
  }
  .about__info {
    margin-left: -160px;
  }
  .about__image-photo {
    max-width: 430px;
    max-height: 441px;
    margin: 10px 0 0 171px;
  }
}
@media (max-width: 630px) {
  .about {
    padding-top: 120px;
  }
  .about__info {
    margin-left: -95px;
  }
  .about__text {
    font-size: 15px;
    line-height: 23px;
  }
  .about__title {
    margin-bottom: 30px;
  }
  .about__image-photo {
    margin: 10px 0 0 80px;
    max-width: 360px;
  }
}
@media (max-width: 500px) {
  .about {
    padding-top: 100px;
  }
  .about__info {
    margin-left: -15px;
  }
  .about__image-photo {
    margin: 10px 0;
    max-width: 312px;
    margin: 10px 0 0 -21px;
  }
  .about__text {
    font-size: 14px;
    max-width: 475px;
    min-width: 284px;
  }
}
@media (max-width: 350px) {
  .about__image-photo {
    max-width: 260px;
  }
  .about__text {
    max-width: 450px;
    min-width: 250px;
  }
  .about__info {
    margin-left: -94px;
  }
}
.skills {
  padding-top: 55px;
  margin-top: 50px;
}
.skills__title {
  margin-bottom: 300x;
  margin-top: 80px;
}
.skills__images {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.skills__image {
  cursor: pointer;
}
.skills__image:hover path {
  transition: all 0.4s;
  fill: #807490;
}
.skills__soft {
  margin: 50px 0 10px 30px;
}
.skills__soft-text {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
}
.skills__list {
  margin-left: 20px;
}
.skills__li {
  line-height: 15px;
  margin-bottom: 10px;
}

@media (max-width: 1300px) {
  .skills__container {
    margin: 10px 100px;
  }
}
@media (max-width: 930px) {
  .skills__container {
    margin: 10px 25px;
  }
  .skills__images {
    gap: 5px;
  }
}
@media (max-width: 630px) {
  .skills__title {
    margin-top: 0px;
    margin-bottom: -15px;
  }
  .skills__soft {
    margin: 30px 0 10px 5px;
  }
  .skills__soft-text {
    font-size: 19px;
    line-height: 30px;
  }
}
@media (max-width: 530px) {
  .skills__title {
    margin-top: -30px;
    margin-bottom: -40px;
  }
  .skills__soft {
    margin: 15px 0 -18px -10px;
  }
  .skills__soft-text {
    font-size: 18px;
    line-height: 28px;
  }
  .skills__list {
    font-size: 15px;
  }
  .skills__li {
    line-height: 19px;
  }
  .skills__hard {
    min-width: 350px;
    margin-left: -15px;
  }
}
@media (max-width: 360px) {
  .skills__hard {
    min-width: 306px;
  }
  .skills__title {
    margin-bottom: -60px;
  }
  .skills__soft {
    margin: 0 0 -18px -10px;
  }
}
.works {
  padding-top: 85px;
  margin-top: 20px;
}
.works__projects-btn {
  margin-bottom: 15px;
  background: transparent;
  border: none;
}
.works__slider-img {
  border: 15px solid #807490;
  width: 540px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.works__wrapper-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}
.works__slider-down {
  grid-template-columns: 540px 1px;
  grid-column-gap: 20px;
}
.works__btn {
  padding: 18px 26px;
  margin-bottom: -366px;
  margin-left: -100px;
}
.works__projects-active {
  display: grid;
}
.works__projects-passive {
  display: none;
}
.works__btn-active {
  display: none;
}
.works__btn-down {
  padding: 18px 26px;
  max-width: 150px;
  margin-left: 1027px;
}
.works__down-btn {
  opacity: 0;
  transition: all 0.2s linear;
  display: none;
}

.btn {
  font-size: 17px;
  white-space: nowrap;
  background-color: #F0E3CA;
  cursor: pointer;
  transition: all 0.2s linear;
  border: none;
}

.btn:hover {
  transition: all 0.4s;
  background-color: rgba(185, 187, 222, 0.7254901961);
}

@media (max-width: 1380px) {
  .works__slider-down {
    grid-template-columns: 492px 1px;
  }
  .works__container {
    margin: 10px 100px;
  }
  .works__slider-img {
    width: 492px;
    height: 271px;
  }
  .works__btn-down {
    margin-left: 936px;
  }
}
@media (max-width: 1180px) {
  .works__wrapper-btn {
    flex-direction: column;
    gap: 0px;
  }
  .works__projects-btn {
    margin-top: 40px;
  }
  .works__slider-img {
    width: 750px;
    height: 374px;
  }
  .works__projects-active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works__downbtn-wrapper {
    display: flex;
  }
  .works__down-btn {
    margin: 0 auto;
  }
  .works__btn-down {
    margin: 0 auto;
  }
  .works__btn {
    margin-left: 0px;
  }
}
@media (max-width: 870px) {
  .works__projects-btn {
    margin-top: 0;
  }
  .works__slider-img {
    width: 600px;
    height: 336px;
  }
}
@media (max-width: 930px) {
  .works__container {
    margin: 10px 25px;
  }
  .works__btn {
    margin-left: 14px;
  }
  .works__projects-active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .works__slider-img {
    max-width: 456px;
    max-height: 247px;
    border: 13px solid #807490;
  }
  .works__downbtn-wrapper {
    display: flex;
    justify-content: center;
  }
  .works__wrapper-btn {
    gap: 0px;
  }
  .works__projects-active {
    margin-top: 0;
  }
  .works__btn-passive {
    margin-top: -1px;
  }
}
@media (max-width: 490px) {
  .works__slider-img {
    max-width: 376px;
    max-height: 219px;
  }
}
@media (max-width: 400px) {
  .works__slider-img {
    max-width: 337px;
    max-height: 191px;
    border: 10px solid #807490;
  }
}
@media (max-width: 350px) {
  .slider {
    margin-left: -2px;
  }
  .works__slider-img {
    max-width: 310px;
  }
}
.footer {
  transition: all 0.3s;
  opacity: 0.9;
  margin-top: 120px;
  background-color: #BF8709;
}
.footer__container {
  margin-right: 10px;
}
.footer__wrapper1 {
  background-color: #BF8709;
  margin-left: -59px;
}
.footer__wrapper {
  display: flex;
  padding: 46px 10px 15px 13px;
  justify-content: space-between;
}
.footer__title {
  margin-bottom: 25px;
}
.footer__text {
  max-width: 300px;
  line-height: 25px;
}
.footer__list {
  list-style: none;
  position: relative;
}
.footer__link {
  line-height: 25px;
  margin-top: 15px;
}
.footer__telegram::after {
  content: url(../images/site-icons/telegram.svg);
  position: absolute;
  left: -34px;
}
.footer__instagram::after {
  content: url(../images/site-icons/instagram.svg);
  position: absolute;
  left: -33px;
}
.footer__github::after {
  content: url(../images/site-icons/github.svg);
  position: absolute;
  left: -36px;
  bottom: -8px;
}
.footer__email::after {
  content: url(../images/site-icons/email.svg);
  position: absolute;
  left: -33px;
}
.footer__caption {
  display: flex;
  align-items: flex-end;
  font-family: "Montez", cursive;
  margin-left: 100px;
  white-space: nowrap;
  font-size: 20px;
  width: 250px;
}

@media (max-width: 1150px) {
  .footer__caption {
    margin-left: 0px;
  }
  .footer__container {
    margin-left: 91px;
  }
}
@media (max-width: 930px) {
  .footer__caption {
    display: none;
  }
  .footer__wrapper {
    max-width: 647px;
    padding: 46px 60px 15px 13px;
  }
}
@media (max-width: 660px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__text {
    line-height: 35px;
    font-size: 20px;
    text-align: center;
    max-width: 500px;
    margin-bottom: 20px;
  }
  .footer__list {
    font-size: 20px;
  }
  .footer__link {
    line-height: 25px;
    margin-top: 22px;
  }
  .footer__caption {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: -10px;
  }
}
@media (max-width: 550px) {
  .footer__container {
    margin-left: 40px;
  }
}
@media (max-width: 400px) {
  .footer__container {
    margin-left: 0px;
  }
}