.works {
  padding-top: 85px;
  margin-top: 20px;
}
.works__projects-btn {
  margin-bottom: 15px;
  background: transparent;
  border: none;
}
.works__slider-img {
  border: 15px solid #807490;
  width: 540px;
  height: 300px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.works__wrapper-btn {
  display: flex;
  gap: 20px;
  align-items: center;
  position: relative;
}
.works__slider-down {
  grid-template-columns: 540px 1px;
  grid-column-gap: 20px;
}
.works__btn {
  padding: 18px 26px;
  margin-bottom: -366px;
  margin-left: -100px;
}
.works__projects-active {
  display: grid;
}
.works__projects-passive {
  display: none;
}
.works__btn-active {
  display: none;
}
.works__btn-down {
  padding: 18px 26px;
  max-width: 150px;
  margin-left: 1027px;
}
.works__down-btn {
  opacity: 0;
  transition: all 0.2s linear;
  display: none;
}

.btn {
  font-size: 17px;
  white-space: nowrap;
  background-color: #F0E3CA;
  cursor: pointer;
  transition: all 0.2s linear;
  border: none;
}

@media (max-width: 1170px) {
  .btn {
    margin-bottom: 50px;
  }
}
.btn:hover {
  transition: all 0.4s;
  background-color: rgba(185, 187, 222, 0.7254901961);
}

@media (max-width: 1380px) {
  .works__slider-down {
    grid-template-columns: 492px 1px;
  }
  .works__container {
    margin: 10px 100px;
  }
  .works__slider-img {
    width: 492px;
    height: 271px;
  }
  .works__btn-down {
    margin-left: 936px;
  }
}
@media (max-width: 1180px) {
  .works__wrapper-btn {
    flex-direction: column;
    gap: 0px;
  }
  .works__projects-btn {
    margin-top: 40px;
  }
  .works__slider-img {
    width: 750px;
    height: 374px;
  }
  .works__projects-active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works__downbtn-wrapper {
    display: flex;
  }
  .works__down-btn {
    margin: 0 auto;
  }
  .works__btn-down {
    margin: 0 auto;
  }
  .works__btn {
    margin-left: 0px;
  }
}
@media (max-width: 870px) {
  .works__projects-btn {
    margin-top: 0;
  }
  .works__slider-img {
    width: 600px;
    height: 336px;
  }
}
@media (max-width: 930px) {
  .works__container {
    margin: 10px 25px;
  }
  .works__btn {
    margin-left: 14px;
  }
  .works__projects-active {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .works__slider-img {
    max-width: 456px;
    max-height: 247px;
    border: 13px solid #807490;
  }
  .works__downbtn-wrapper {
    display: flex;
    justify-content: center;
  }
  .works__wrapper-btn {
    gap: 0px;
  }
  .works__projects-active {
    margin-top: 0;
  }
  .works__btn-passive {
    margin-top: -1px;
  }
}
@media (max-width: 490px) {
  .works__slider-img {
    max-width: 376px;
    max-height: 219px;
  }
}
@media (max-width: 400px) {
  .works__slider-img {
    max-width: 337px;
    max-height: 191px;
    border: 10px solid #807490;
  }
}
@media (max-width: 350px) {
  .slider {
    margin-left: -2px;
  }
  .works__slider-img {
    max-width: 310px;
  }
}