.footer {
    transition: all 0.3s;
    opacity: 0.9;
    display: fixed;
    flex: 1 1 auto;
    margin-top: 120px;
    background-color: #BF8709;

    &__container{
        margin-right: 10px;
    }
    &__wrapper1{
        background-color: #BF8709;
        margin-left: -59px;

    }
    &__wrapper {
        display: flex;
        padding: 46px 10px 15px 13px;
        justify-content: space-between;
    }

    &__title {
        margin-bottom: 25px;
    }

    &__text {
        max-width: 300px;
        line-height: 25px;
    }

    &__list {
        list-style: none;
        position: relative;
    }

    &__link {
        line-height: 25px;
        margin-top: 15px;
    }

    &__telegram::after {
        content: url(../images/site-icons/telegram.svg);
        position: absolute;
        left: -34px;
        top: 12px;
    }

    &__instagram::after {
        content: url(../images/site-icons/instagram.svg);
        position: absolute;
        left: -33px;
    }

    &__github::after {
        content: url(../images/site-icons/github.svg);
        position: absolute;
        left: -36px;
        top: 118px;
    }

    &__email::after {
        content: url(../images/site-icons/email.svg);
        position: absolute;
        left: -33px;
        top: 84px;
    }

    &__caption {
        display: flex;
        align-items: flex-end;
        font-family: 'Montez', cursive;
        margin-left: 100px;
        white-space: nowrap;
        font-size: 20px;
        width: 250px;
    }

}
// @media (max-width:1200x){
//     .footer{
//         &__caption {
//             margin-left: 0px;
//         }
//     }
// }
// @media (max-width: 930px){
//     .footer{
//         &__container{
//             margin: 0px -93px 10px 60px;
//         }
//         margin-top: 400px;
//         &__caption {
//             margin:0px;
//         }
//         &__wrapper {
//             padding: 46px 26px 30px 90px;}

//     }

// }
// @media(max-width:760px){
//     .footer{
//         &__wrapper {
//             display: flex;
//             margin: 0 200px -10px -6px;
//         }
//         &__caption{
//             display: none;
//         }
//     }
// }
// @media (max-width:550px) {
//     &__wrapper {
//         flex-direction: column;
//     }
// }