.skills {
    padding-top: 55px;
    margin-top: 50px;

    &__title {
        margin-bottom: 300x;
        margin-top: 80px;
    }

    &__images {
        display: flex;
        justify-content: center;
        gap: 80px;
        margin-top: 60px;
    }

    &__image {
        cursor: pointer;

        &:hover path {
            transition: all 0.4s;
            fill: #807490;
        }
    }

    &__soft {
        margin: 50px 0 10px 30px;
    }

    &__soft-text {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 500;
    }

    &__list {
        margin-left: 20px;
    }

    &__li {
        line-height: 15px;
        margin-bottom: 10px;
    }
}