@import "global";
@import "header";
@import "about";
@import "skills";


.skills{
    padding-top: 55px;
    margin-top: 50px;
    &__title{
        margin-bottom: 300x;
        margin-top: 80px;
    }
    &__images{
        display: flex;
        justify-content: center;
        gap:80px;
        margin-top: 60px;
    }
    &__image{
        cursor: pointer;
        &:hover path{
            transition: all 0.4s;
            fill: #807490;
        }
    }
    &__soft{
        margin: 50px 0 10px 30px;
    }
    &__soft-text{
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: 500;
    }
    &__list{
        margin-left: 20px;
    }
    &__li{
        line-height: 15px;
        margin-bottom: 10px;
    }
}









.works{
    margin-top: 85px;
    &__slider-img{
        border: 15px solid #807490;
        width:540px;
        height: 300px;
        margin-bottom: 15px;
    }
    &__wrapper-btn{
        display: flex;
        gap: 20px;
        align-items: center;
        position: relative;
    }
    &__slider-down{
        grid-template-columns: 540px 1px;
        grid-column-gap: 20px;
    }
    &__btn{
        padding:18px 26px;
        font-size: 17px;
        white-space: nowrap;
        margin-bottom: -366px;
        margin-left: -100px;
    }
    &__projects-active{
        display: grid;
        transition: all 0.2s linear;
    }
    &__projects-passive{
        opacity: 0;       
        // display: none;
        transition: all 0.2s linear;
    }
    &__btn-active{
        // display: none;
        opacity: 0;       
        // display: none;
        transition: all 0.2s linear;
    }
    &__btn-down{
        padding:18px 26px;
        font-size: 17px;
        max-width: 150px;
        margin-left: 1027px;
        white-space: nowrap;
        opacity: 1;
        transition: all 0.2s linear;
    }
    &__down-btn{
        // display: none;
        opacity: 0;       
        // display: none;
        transition: all 0.2s linear;
    }

}
// .slider{
//     display: flex;
//     // justify-content: center;
//     // position: relative;
//     // margin-left: 220px;
//     flex-direction: column;
// }

// .slick-prev{
//     margin-top: 30px;
//     position: absolute;
//     background-color: #B9BBDE;
//     width: 83px;
//     height: 550px;
//     opacity: 0.76;
//     left: 1004px;
//     border: none;
//     cursor: pointer;
//     &:hover{
//         transition: all .5s;
//         background-color: #807490;
//         opacity: 0.82;
//     }
// }

























.footer{
    transition: all 0.3s;
    background-color: #BF8709;
    opacity: 0.9;
    display: flex;
    margin-top: 120px;
    &__wrapper{
        display: flex;
        margin: 20px 0;
        gap: 250px;
    }
    &__title{
        margin-bottom: 25px;
    }
    &__text{
        max-width: 1000px;
        line-height: 25px;
    }
    &__list{
        list-style: none;
        position: relative;
    }
    &__link{
        line-height: 25px;
        margin-top: 15px;
    }
    &__telegram::after{
        content: url(../images/site-icons/telegram.svg);
        position: absolute;
        left: -34px;
        top: 12px;
    }
    &__instagram::after{
        content: url(../images/site-icons/instagram.svg);
        position: absolute;
        left: -33px;
    }
    &__github::after{
        content: url(../images/site-icons/github.svg);
        position: absolute;
        left: -36px;
        top: 118px;
    }
    &__email::after{
        content: url(../images/site-icons/email.svg);
        position: absolute;
        left: -33px;
        top: 84px;
    }
    &__caption{
        display: flex;
        align-items: flex-end;
        font-family: 'Montez', cursive;
        margin-left: 100px;
        white-space: nowrap;
        font-size: 20px;
        width:250px;
    }

}