
.works {
    padding-top: 85px;
    margin-top: 20px;
    &__projects-btn{
        margin-bottom: 15px;
        background: transparent;
        border: none;

    }
    &__slider-img {
        border: 15px solid #807490;
        width: 540px;
        height: 300px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    &__wrapper-btn {
        display: flex;
        gap: 20px;
        align-items: center;
        position: relative;
    }

    &__slider-down {
        grid-template-columns: 540px 1px;
        grid-column-gap: 20px;

    }

    &__btn {
        padding: 18px 26px;
        margin-bottom: -366px;
        margin-left: -100px;
    }

    &__projects-active {
        display: grid;
    }

    &__projects-passive {
        display: none;
    }

    &__btn-active {
        display: none;
    }

    &__btn-down {
        padding: 18px 26px;
        max-width: 150px;
        margin-left: 1027px;
    }

    &__down-btn {
        opacity: 0;
        transition: all 0.2s linear;
        display: none;
    }

}

.btn {
    font-size: 17px;
    white-space: nowrap;
    background-color: #F0E3CA;
    cursor: pointer;
    transition: all 0.2s linear;
    border: none;
    
}
@media(max-width:1170px){
    .btn{
        margin-bottom: 50px;

    }
}

.btn:hover {
    transition: all 0.4s;
    background-color: #b9bbdeb9;
}

@media(max-width:1380px){
    .works
    {
        &__slider-down {
            grid-template-columns: 492px 1px;
        }
        &__container{
            margin: 10px 100px;
        }
        &__slider-img {
            width: 492px;
            height: 271px;
        }
        &__btn-down {
            margin-left: 936px;
        }
    }
}
@media (max-width:1180px) {
    .works{
        &__wrapper-btn{
            flex-direction: column;
            gap:0px;
        }
        &__projects-btn{
            margin-top: 40px;
    
        }
        &__slider-img {
            width: 750px;
            height: 374px;
        }
        &__projects-active {
            display: flex;
            // margin-top: -16px;
            flex-direction: column;
            align-items: center;
        }
        &__downbtn-wrapper{
            display: flex;
        }
        &__down-btn{
            margin: 0 auto;
        }
        &__btn-down{
            margin: 0 auto;
        }
        &__btn{
            margin-left:0px;
        }

    }
}

@media (max-width:870px) {
    .works{
        &__projects-btn{
            margin-top: 0;
    
        }
        &__slider-img {
            width: 600px;
            height: 336px;
        }
    }
    
}
@media(max-width:930px){
    .works{
        &__container{
            margin: 10px 25px;
        }
        
        &__btn{
            margin-left: 14px;
        }
        &__projects-active{
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin-top: 20px;
            
        }
        
    }
}

@media(max-width:600px){
    .works{
        &__slider-img{
            max-width: 456px;
            max-height: 247px;
            border: 13px solid #807490;
        }
        &__downbtn-wrapper{
            display: flex;
            justify-content: center;
        }
        &__wrapper-btn{
            gap:0px;
            
        }
        &__projects-active {
            margin-top: 0;
        }
        &__btn-passive {
            margin-top: -1px;
        }
        
        
    }
}
@media(max-width:490px){
    .works{
        &__slider-img {
            max-width: 376px;
            max-height: 219px;
        }
    }
}

@media(max-width:400px){
    .works{
        &__slider-img {
            max-width: 337px;
            max-height: 191px;
            border: 10px solid #807490;
        }
    }
}
@media(max-width:350px){
    .slider{
        margin-left: -2px;
}

    .works{
        &__slider-img{
            max-width: 310px;
        }
    }
}
